/*fonts-google*/
@import url(http://fonts.googleapis.com/css?family=Lato|Oswald);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

html {
/*  background-color: #cdbb99;*/
}

body {
  /*background-image: url("/images/bg.jpg");*/
  background-repeat: repeat;
  background-position: center;
}

ol, ul {
  list-style: none;
} 

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/* start here */
#banner{
  background-image: url("");/*add the header_logo*/
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  text-align: center;
  position: relative;
  height: 100px;
}

#title{
  width: 300px;
  height: 75px;
  background-color: yellow;
  display: inline-block;
  margin-top: 10px;
}

#icon a{
  text-decoration: none;
  color: red;
  background-size: 100%;
  border: 2px solid orange;
  padding: 3px 5px;
}

#icon a:hover{
  color: orange;
}

#icon{
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 20px;
  right: 10px;
}

nav ul#main_nav{
  padding: 15px;
  background-color: #575457;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

.nav_item{
  display: inline;
}

.nav_item a{
  color: #a6a6a6;
  text-decoration: none;
  font-size: 40px;
}

/*#sub_nav .body_info{
  font-size: 10px;
  color: #9c9d95;
}*/

.nav_item a:hover{
  color: orange;
  display: inline;
}

/*body_container */
#body_container{
  padding: 5px;
}

.body_content{
  text-align: left;
  height: 115px;
  padding: 5px 0 0;
  margin: 25px auto;
  background-color: white;
  border: 2px solid gray;
  font-family: 'Lato', sans-serif;
}

.body_content:hover{
  border: 3px solid orange;
}

.visited img{
  height: 60px;
  width: 60px;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 13px;
  float: left;
}

.visited div.model{
  /*margin-top: 65px;*/
  margin-left: 93px;
  font-size: 30px;
}

.visited span.detail{
  display: none;
}

.visited div.advise{
  margin-left: 93px;
  color: #b5b5b5;
  font-size: 11px;
  margin-top: 4px;
  letter-spacing: -0.6px;
  width: 200px;
}

/*ul id=button*/

#button{
  width: 100%;
/*  height: 5px;*/
/*  background-color: #ccdfcc;*/
  display: table;
/*  font-size: 30px;*/
  color: #fff;
 /* border-radius: 5px;*/
  margin-top: 40px;
/*  border: none;*/
/*  padding: 0;*/
/*  background-color: transparent;*/
  border: 2px solid gray;
  box-sizing: border-box;
}

ul#button li{
  display: inline-block;
  height: 20px;
  width: 33.333%;
  text-align: center;
  box-sizing: border-box;
  border-right: 1px solid #000;
}

ul#button li:last-child{
  border-right: none;
}

/*ul#button li a{
  background-color: #575457;
  display: block;
  text-align: center;
}*/

#button a img{
  width: 15px;
  height: 15px;
}

#button a {
  width: 100%;
  display: block;
}

ul#button li:hover a{
  background-color: gray;  
}

/* PHONE */
/*@media only screen and (max-width: 375px){
  #body_container {
    margin: 0;
  }
}*/


/* TABLET ONLY */
/*@media only screen and (min-width: 481px) and (max-width: 768px){
#body_container{
  padding: 25px;
}
.body_content{
  width: 100%;
}
footer{
  display: none;
}
*/

/* DESKTOP ONLY */
/*@media only screen and (min-width: 769px){
.body_content{
  width: 75%;
}
}*/

/* PHONE ONLY */
/*@media only screen and (max-width: 480px){
#body_container{
  max-width: 100%;
}
.body_content{
  max-width: 100%;
}
p{
  display: none;
}
}*/

/* bootstrap */
/*#primary_container{
  background-color: pink;
}
#primary_container_left{
  background-color: orange;
}
#primary_container_right{
  background-color: yellow;
}
*/

